@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f8f7f4;
}

.searchBar {
  padding-left: 300px;


}

.navbackground {
  background: #f8f7f4;
}

.list {
  background: #f8f7f4;
}

.nav-sec1{
  margin-left: 38rem;
  margin-top: 5rem;
  
}
.sec2{
  width: 33rem;
  margin-left: 32rem;
  
}

.sec3 {
  padding-top: -20px;
  width: 42rem;
  margin-left: 28rem;

}
.card{
  background-color: #f8f7f4;
}

.sec4{
  
  width: 7rem;
  height: 3rem;
  
  background-color: black;
   margin-left: 46rem;
   
}